

<!-- data coming from child component -->

<!-- <div>
  <h2>This data is coming from child</h2>
  <div *ngFor="let fruit of childarray">
     <p>{{fruit}}</p>
  </div>
</div> -->

<!-- Toolbar -->
<!-- <app-firstcomponent (childData)="childarray=$event" [parentData]="parentdata">

</app-firstcomponent> -->

<!-- Injectables Services data fetching Observables -->

<!-- <app-listcomponent></app-listcomponent> -->


<!-- <app-listdetailscomponent></app-listdetailscomponent> -->

<div class="navbar">
   <!-- <p>text</p> -->
   <h2 class="mainheading">Routing And Navigation</h2>
   <button class="btn">
    <a routerLink="products" class="navlink" routerLinkActive="navlinkactive">Products</a>
   </button>
</div>

<router-outlet></router-outlet>
