<div *ngIf="loading" class="loaderanderrordiv">
  <div class="basic"></div>
</div>

<div *ngIf="error" class="loaderanderrordiv">
   <h3 class="errorheading">{{errormessage}}</h3>
</div>


<div  class="productscontainer" *ngIf="!loading">
    <div (click)="onNavigate(item)" class="productbox" *ngFor="let item of data">
        <img src="{{item.image}}" width="150" height="150" alt="product image">
        <h3>{{item.title}}</h3>
        <p>{{item.category}}</p>
        <p class="price">{{item.price | currency}}</p>
        <!-- <button (click)="addToCart(item)" class="btn">Add to Cart</button> -->
    </div>
</div>
