/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #F6E7D8;
}

.basic:before {
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    -webkit-animation: spin .5s infinite linear;
            animation: spin .5s infinite linear;
    border: 6px #dadada solid;
    border-left-color: #3A3845;
    border-radius: 100%; }
  
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
  
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }